
# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env
.env.*

# PyInstaller
build/
dist/
*.spec.bak
*.toc
*.pkg
*.pyz

# Logs
*.log
*.lock

# Databases
*.db
*.db-wal
*.db-shm

# OS
.DS_Store
Thumbs.db
